body{
	background-color: #F0F0F0;
}
#photos img {
	max-width: inherit;
	max-height: inherit;
	opacity:0.9;
}
#photos img:hover{
	opacity:1.0;
}
table {
	border: 0;
	margin:auto;
}
td{
	border: 0;
	width: 256px;
	max-width: 256px;
	height: 158px;
	max-height: 158px;
	text-align: center;
	vertical-align: middle;
}
#photos td:hover{
	background-image:url(../img/brandicons/1.jpg);
}
header{
	position:fixed;
	background-color: black;
	width:100%;
	height: 40px;
	z-index: 10;
}
input#searchtext{
	border: 0;
	width: inherit;
	height: 30px;
	font-size: 20px;
}
input#searchbutton{
}
header td{
	height: 40px;
	text-align: left;
}
footer{
	position:fixed;
	background-color:white;
	width:100%;
	height:30px;
	z-index: 10;
	bottom: 0;
	text-align:center;
}
